USE [AIRPLANE]
GO
/*This table specifies aircraft manufacture and model number*/
/****** Object:  Table [dbo].[AIRCRAFT]    Script Date: 1/6/2024 8:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AIRCRAFT](
	[AIRCRAFT] [varchar](20) NOT NULL,
	[MANUFACTURE] [varchar](20) NULL,
	[MODELNUMBER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AIRCRAFT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/*This table specifies aircraft of the airplane*/
/****** Object:  Table [dbo].[AIRPLANE]    Script Date: 1/6/2024 8:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AIRPLANE](
	[NUMSER] [int] NOT NULL,
	[AIRCRAFT] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMSER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/*This table specifies passport, flight number, seat number and class of the booking*/
/****** Object:  Table [dbo].[BOOKING]    Script Date: 1/6/2024 8:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING](
	[BOOKINGID] [int] NOT NULL,
	[PASSPORT] [varchar](20) NOT NULL,
	[FLIGHTNUM] [varchar](20) NOT NULL,
	[SEAT] [varchar](20) NULL,
	[CLASS] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[BOOKINGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/*This table specifies cities name and country, depends on citycode. (WAW airport is located in Warsaw, Poland)*/
/****** Object:  Table [dbo].[CITY]    Script Date: 1/6/2024 8:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITY](
	[CITYCODE] [varchar](4) NOT NULL,
	[CITY] [varchar](20) NULL,
	[COUNTRY] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CITYCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/*This is the bridge table between Staff and Flight tables*/
/****** Object:  Table [dbo].[CREW]    Script Date: 1/6/2024 8:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CREW](
	[FLIGHTNUM] [varchar](20) NOT NULL,
	[EMPNUM] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FLIGHTNUM] ASC,
	[EMPNUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/*This table specifies origin, destination, arrival time, departure time, airplane, pilot and gate of the flight */
/****** Object:  Table [dbo].[FLIGHT]    Script Date: 1/6/2024 8:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FLIGHT](
	[FLIGHTNUM] [varchar](20) NOT NULL,
	[ORIGIN] [varchar](4) NOT NULL,
	[DESTINATION] [varchar](4) NOT NULL,
	[DEPTIME] [datetime] NULL,
	[ARRTIME] [datetime] NULL,
	[AIRPLANE] [int] NOT NULL,
	[PILOT] [int] NOT NULL,
	[GATE] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[FLIGHTNUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/*This table allows multiple intermediate city*/
/****** Object:  Table [dbo].[INTERMEDIATECITY]    Script Date: 1/6/2024 8:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTERMEDIATECITY](
	[FLIGHTNUM] [varchar](20) NOT NULL,
	[CITY] [varchar](4) NOT NULL,
	[ARRTIME] [datetime] NULL,
	[DEPTIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FLIGHTNUM] ASC,
	[CITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/*This table is a bridge between Pilot and PlanesCanFly tables*/
/****** Object:  Table [dbo].[LICENSE]    Script Date: 1/6/2024 8:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICENSE](
	[EMPNUM] [int] NOT NULL,
	[TYPERATING] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPNUM] ASC,
	[TYPERATING] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/*This table specifies surname and name of the passenger*/
/****** Object:  Table [dbo].[PASSENGER]    Script Date: 1/6/2024 8:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PASSENGER](
	[PASSPORT] [varchar](20) NOT NULL,
	[SURNAME] [varchar](20) NULL,
	[NAME] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PASSPORT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/*This table specifies passenger address and allows passenger to have multiple addresses*/
/****** Object:  Table [dbo].[PASSENGERADDRESS]    Script Date: 1/6/2024 8:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PASSENGERADDRESS](
	[PASSPORT] [varchar](20) NOT NULL,
	[ADDRESS] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PASSPORT] ASC,
	[ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/*This table specifies passenger phone and allows passenger to have multiple phones*/
/****** Object:  Table [dbo].[PASSENGERPHONE]    Script Date: 1/6/2024 8:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PASSENGERPHONE](
	[PASSPORT] [varchar](20) NOT NULL,
	[PHONENUMBER] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PASSPORT] ASC,
	[PHONENUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/*This table specifies total flight hours of the pilot*/
/****** Object:  Table [dbo].[PILOT]    Script Date: 1/6/2024 8:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PILOT](
	[EMPNUM] [int] NOT NULL,
	[TOTALFLIGHTHOURS] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPNUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/*This table connects aircraft and pilot type rating, type rating is certification that allows
the pilot to operate specific type of aircraft*/
/****** Object:  Table [dbo].[PLANESCANFLY]    Script Date: 1/6/2024 8:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANESCANFLY](
	[TYPERATING] [int] NOT NULL,
	[AIRCRAFT] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TYPERATING] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AIRCRAFT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/*This table specifies schedule type for certain origin, destination, arrival time, departure time*/
/****** Object:  Table [dbo].[SCHEDULE]    Script Date: 1/6/2024 8:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCHEDULE](
	[SCHEDULEID] [int] NOT NULL,
	[SCHEDULETYPE] [varchar](20) NULL,
	[ORIGIN] [varchar](4) NOT NULL,
	[DESTINATION] [varchar](4) NOT NULL,
	[DEPTIME] [datetime] NULL,
	[ARRTIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SCHEDULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/*This table specifies staff  surname, name, date of birth*/
/****** Object:  Table [dbo].[STAFF]    Script Date: 1/6/2024 8:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[EMPNUM] [int] NOT NULL,
	[SURNAME] [varchar](20) NULL,
	[NAME] [varchar](20) NULL,
	[DATEOFBIRTH] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPNUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/*This table specifies staff address and allows staff to have multiple addresses*/
/****** Object:  Table [dbo].[STAFFADDRESS]    Script Date: 1/6/2024 8:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFFADDRESS](
	[EMPNUM] [int] NOT NULL,
	[ADDRESS] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPNUM] ASC,
	[ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/*This table specifies staff phone and allows staff to have multiple phones*/
/****** Object:  Table [dbo].[STAFFPHONE]    Script Date: 1/6/2024 8:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFFPHONE](
	[EMPNUM] [int] NOT NULL,
	[PHONENUMBER] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPNUM] ASC,
	[PHONENUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AIRPLANE]  WITH CHECK ADD FOREIGN KEY([AIRCRAFT])
REFERENCES [dbo].[AIRCRAFT] ([AIRCRAFT])
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD FOREIGN KEY([FLIGHTNUM])
REFERENCES [dbo].[FLIGHT] ([FLIGHTNUM])
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD FOREIGN KEY([PASSPORT])
REFERENCES [dbo].[PASSENGER] ([PASSPORT])
GO
ALTER TABLE [dbo].[CREW]  WITH CHECK ADD FOREIGN KEY([EMPNUM])
REFERENCES [dbo].[STAFF] ([EMPNUM])
GO
ALTER TABLE [dbo].[CREW]  WITH CHECK ADD FOREIGN KEY([FLIGHTNUM])
REFERENCES [dbo].[FLIGHT] ([FLIGHTNUM])
GO
ALTER TABLE [dbo].[FLIGHT]  WITH CHECK ADD FOREIGN KEY([AIRPLANE])
REFERENCES [dbo].[AIRPLANE] ([NUMSER])
GO
ALTER TABLE [dbo].[FLIGHT]  WITH CHECK ADD FOREIGN KEY([DESTINATION])
REFERENCES [dbo].[CITY] ([CITYCODE])
GO
ALTER TABLE [dbo].[FLIGHT]  WITH CHECK ADD FOREIGN KEY([ORIGIN])
REFERENCES [dbo].[CITY] ([CITYCODE])
GO
ALTER TABLE [dbo].[FLIGHT]  WITH CHECK ADD FOREIGN KEY([PILOT])
REFERENCES [dbo].[PILOT] ([EMPNUM])
GO
ALTER TABLE [dbo].[INTERMEDIATECITY]  WITH CHECK ADD FOREIGN KEY([FLIGHTNUM])
REFERENCES [dbo].[FLIGHT] ([FLIGHTNUM])
GO
ALTER TABLE [dbo].[INTERMEDIATECITY]  WITH CHECK ADD FOREIGN KEY([CITY])
REFERENCES [dbo].[CITY] ([CITYCODE])
GO
ALTER TABLE [dbo].[LICENSE]  WITH CHECK ADD FOREIGN KEY([EMPNUM])
REFERENCES [dbo].[PILOT] ([EMPNUM])
GO
ALTER TABLE [dbo].[LICENSE]  WITH CHECK ADD FOREIGN KEY([TYPERATING])
REFERENCES [dbo].[PLANESCANFLY] ([TYPERATING])
GO
ALTER TABLE [dbo].[PASSENGERADDRESS]  WITH CHECK ADD FOREIGN KEY([PASSPORT])
REFERENCES [dbo].[PASSENGER] ([PASSPORT])
GO
ALTER TABLE [dbo].[PASSENGERPHONE]  WITH CHECK ADD FOREIGN KEY([PASSPORT])
REFERENCES [dbo].[PASSENGER] ([PASSPORT])
GO
ALTER TABLE [dbo].[PILOT]  WITH CHECK ADD FOREIGN KEY([EMPNUM])
REFERENCES [dbo].[STAFF] ([EMPNUM])
GO
ALTER TABLE [dbo].[PLANESCANFLY]  WITH CHECK ADD FOREIGN KEY([AIRCRAFT])
REFERENCES [dbo].[AIRCRAFT] ([AIRCRAFT])
GO
ALTER TABLE [dbo].[SCHEDULE]  WITH CHECK ADD FOREIGN KEY([DESTINATION])
REFERENCES [dbo].[CITY] ([CITYCODE])
GO
ALTER TABLE [dbo].[SCHEDULE]  WITH CHECK ADD FOREIGN KEY([ORIGIN])
REFERENCES [dbo].[CITY] ([CITYCODE])
GO
ALTER TABLE [dbo].[SCHEDULE]  WITH CHECK ADD FOREIGN KEY([DESTINATION])
REFERENCES [dbo].[CITY] ([CITYCODE])
GO
ALTER TABLE [dbo].[SCHEDULE]  WITH CHECK ADD FOREIGN KEY([ORIGIN])
REFERENCES [dbo].[CITY] ([CITYCODE])
GO
ALTER TABLE [dbo].[STAFFADDRESS]  WITH CHECK ADD FOREIGN KEY([EMPNUM])
REFERENCES [dbo].[STAFF] ([EMPNUM])
GO
ALTER TABLE [dbo].[STAFFPHONE]  WITH CHECK ADD FOREIGN KEY([EMPNUM])
REFERENCES [dbo].[STAFF] ([EMPNUM])
GO
